<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <div class="error-details">
          Sorry, an error has occured, Requested page not found!
        </div>
        <div class="error-actions">
          <a routerLink="" class="btn btn-primary btn-lg"
            ><span class="glyphicon glyphicon-home"></span> Take Me Home </a
          ><a routerLink="" class="btn btn-default btn-lg"
            ><span class="glyphicon glyphicon-envelope"></span> Contact Support
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container" style="padding-top: 100px">
  <div class="outer-div">
    <form
      #searchForm="ngForm"
      
      class="border p-3 rounded"
    >
      <div class="row g-0">
        <div class="col text-center p-2 mb-3 bg-light">
          <span class="fs-1">Search Account</span>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="Account Number" class="form-label" style="padding: 5px"
            >Account Number</label
          >
          <input
            #user_id="ngModel"
            required
            maxlength="50"
            type="text"
            class="form-control"
            name="Account_Number"
            ngModel
          />
          <label for="IFSC" class="form-label" style="padding: 5px">IFSC</label>
          <input
            #user_id="ngModel"
            required
            maxlength="50"
            type="text"
            class="form-control"
            style="padding: 5px"
            name="Account_Number"
            ngModel
          />
          <div style="padding: 15px; padding-left: 30%">
            <button type="submit" class="btn btn-primary btn-lg">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div> -->

<div class="container">
  <div
    class="d-flex justify-content-between p-3 rounded-3"
    style="background-color: black"
  >
    <div>
      <h1 class="text-white">Welcome</h1>
    </div>
    <div>
      <button class="btn btn-danger btn-lg">Balance Update</button>
      <button class="btn btn-danger btn-lg">Logout</button>
    </div>
  </div>

  <div
    class="container mt-5 p-3"
    style="border: 1px solid black; border-radius: 12px"
  >
    <h1>All Users</h1>

    <hr />
    <table class="table">
      <thead>
        <tr>
          <!-- <th scope="col" (click)="sort('user_ref_id')">Ref I'd</th>
          <th scope="col" (click)="sort('fname')">First Name</th>
          <th scope="col" (click)="sort('lname')">Last Name</th>
          <th scope="col" (click)="sort('reg_date')">Date</th>
          <th scope="col"></th> -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <th>{{ item.user_ref_id }}</th>
          <td>{{ item.fname }}</td>
          <td>{{ item.lname }}</td>
          <td>{{ item.reg_date | date }}</td>-->
          <td>
            <div>
              <button
                
                class="btn btn-danger btn-lg"
              >
                Visit
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
