<div class="container">
  <div class="outer-div">
    <form
      #transfer="ngForm"
      (ngSubmit)="pay(transfer.value)"
      class="border p-3 rounded"
    >
      <div class="row g-0">
        <div class="col text-center mb-3 bg-light">
          <span class="fs-2">Manage Fund</span>
        </div>
      </div>

      <div class="row">
        <div class="col mb-3">
          <input name="user_id" type="hidden" class="form-control" ngModel />
          <!-- <input name="to_acc_no" type="hidden" class="form-control" ngModel /> -->
          <input name="to_ifsc" type="hidden" class="form-control" ngModel />
          <input name="to_name" type="hidden" class="form-control" ngModel />
          <input name="to_bank" type="hidden" class="form-control" ngModel />
          <input name="trans_type" type="hidden" ngModel />
          <input name="trans_mode" type="hidden" ngModel />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Select Account No</label>
          <select
            class="form-select"
            aria-label="user_ref_id"
            name="to_acc_no"
            required
            ngModel
          >
            <option *ngFor="let item of acc" value="{{ item.acc_no }}">
              {{ item.acc_no }}
            </option>
          </select>
          <!-- <div
            class="form-text text-danger"
            *ngIf="account_no.errors?.['required'] && (account_no.dirty || account_no.touched)"
          >
            Account no Required
          </div> -->
        </div>
      </div>

      <div class="row">
        <div class="col mb-3">
          <label class="form-label">Amount</label>
          <input
            #amount="ngModel"
            required
            type="number"
            name="amount"
            class="form-control"
            ngModel
          />
          <div
            class="form-text text-danger"
            *ngIf="amount.errors?.['required'] && (amount.dirty || amount.touched)"
          >
            Amount Required
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col mb-3">
          <label class="form-label">CRDR</label>
          <select
            #crdr="ngModel"
            class="form-select"
            aria-label="crdr"
            name="crdr"
            required
            ngModel
          >
            <option value="credit">credit</option>
            <option value="debit">debit</option>
          </select>
          <div
            class="form-text text-danger"
            *ngIf="crdr.errors?.['required'] && (crdr.dirty || crdr.touched)"
          >
            crdr Required
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="form-label">Date</label>
          <input
            #trans_date="ngModel"
            required
            type="date"
            name="trans_date"
            class="form-control"
            ngModel
          />
          <div
            class="form-text text-danger"
            *ngIf="trans_date.errors?.['required'] && (trans_date.dirty || trans_date.touched)"
          >
            Date Required
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="form-label">Remark</label>
          <input
            #remark="ngModel"
            required
            type="text"
            name="remark"
            class="form-control"
            ngModel
          />
          <div
            class="form-text text-danger"
            *ngIf="remark.errors?.['required'] && (remark.dirty || remark.touched)"
          >
            Remark Required
          </div>
        </div>
      </div>

      <br />

      <!-- <div class="form-text text-danger" *ngIf="less_amt">
        Insufficient balance
      </div> -->

      <div class="row">
        <div class="col-6 offset-3">
          <div class="d-grid">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="transfer.invalid"
            >
              Transfer
            </button>
          </div>
        </div>
      </div>

      <br />
      <div class="row">
        <div class="col">
          <span>Head back to dashboard</span>&nbsp;<a
            class="badge rounded-pill bg-primary"
            routerLink="/admindashboard"
          >
            admin dashboard</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
