<div class="d-flex justify-content-between p-5" style="background-color: black">
    <div>
      <h1 class="text-white">Admin</h1>
    </div>
    <div>
      <button class="btn btn-danger btn-lg">Logout</button>
    </div>
  </div>
  
  <div
    class="container mt-5 p-5"
    style="border: 1px solid black; border-radius: 12px"
  >
    <h1>User Details</h1>
    <hr />
    <div class="mt-5">
      <h2>UserId : sdfsfsdfsd-sdfasf-sadfs-adfasfd-asdf</h2>
      <h2>Username : naruto</h2>
      <h2>Full Name : Naruto Uzumaki</h2>
      <h2>Email : naruto@gmail.com</h2>
      <h2>Account Number : 44572427852742</h2>
      <h2>Phone Number : 999999</h2>
      <h2>Account Name : HDFC</h2>
      <div class="mt-5">
        <button class="btn btn-primary btn-lg">Approve</button>
        <button class="btn btn-danger btn-lg mx-5">Danger</button>
      </div>
    </div>
  </div>
  